ffmpeg

through e.g. sudo dnf install ffmpeg or sudo pacman -S ffmpeg etc
you can also install through your package manager

for windows download the latest build and extract to C:\ffmpeg then add C:\ffmpeg\bin to PATH environment variable
